
.cart{ 
    padding: 15px;
    margin: 0 10px;
} 

.cart-left{
    display: flex;
    align-items: start;
    gap: 10px;
    row-gap: 4px; 
    background-color: white;
    padding: 20px;

} 
.cart-left .product-cart-list{
    display: flex; 
    gap: 20px;
} 
.blue{
    color: blue;
    text-decoration: none;
} 
.lil-font{
    font-size: 0.8rem;
    margin-top: 10px;
} 
.font-difference{
    font-size: 1.1rem;
} 
.rating {
    font-size: 0.8rem;
} 
.rating .fa-star{
    color: yellow; 
    margin-top: 4px;
} 
.cart-right{
    width: 390px;
    padding: 10px; 
    margin-top: 15px;
    background-color: white; 
    position: relative; 
    top: -10px;
    left: 1%; 
    margin-left: 20px; 
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
} 
.cart{
    display: flex;
   align-items: center;
   padding: 3px;
    justify-content: center;
    gap: 20px; 
    flex-direction: row;
} 
.cart-left{
    width: 1000px;
     overflow-x: hidden;
     height: auto;

     position: absolute;
     top:100px;
     left: 20px; 
     padding-top: 30px;
} 
.btn{
    background-color: yellow;
    font-size: 1.1rem;
    padding: 4px 20px;
    border-radius: 30px;
    border: none; 
    transition: 0.5s all ease;
} 
.Sign-up{
    background-color: transparent;
    border: 1px solid black;

 
}
.product-cart-title-price span{
    margin-left: 10px;
} 
.btn:hover{
       background-color: transparent;
    border: 1px solid black;
} 
.Sign-up:hover{
   background-color: yellow; 
       border: none;
} 
.cart-left img{
    height: 200px;
    width: 200px;
    object-fit: cover; 
    border-radius: 50%;
} 
.product-buttom-card{
    margin-top: -13px;
}
.product-cart-title-price{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 10px;
} 
.cart-left-part-two{
 position: absolute;
 bottom: 175px; 
 height: 100px;
 width: 1000px;
 margin-right: 10px; 
 background-color: white; 
 left: 20px;
} 
.grid{
    z-index: 2;
    margin-top: -110vw;

    font-size: 0.8rem;
} 
.productss{
    display: flex;
flex-direction: column; 
margin-top: 100px;

}