@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Oleo+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , Arial, Helvetica, sans-serif ;
} 
.container{
    height: 100vh;
    width: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}  

.form{ 
    width: 30%;
  background-color: #eee;
    max-width: 450px;
    min-width: 350px;
    backdrop-filter: blur(3px);
    padding: 50px;
    text-align: center;
    border-radius: 20px;
    border: none; 
    border:none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.281);
    
} 
h1{
    font-size: 1.9rem; 
    margin-bottom: 7px;
} 
  
form{
        margin-top: 60px;
}
.input-field{
    margin-bottom: 50px;  
    height: 40px; 
    gap: 3px;
    display: flex;
    align-items: center; 
    border-radius: 10px; 
    transition: 0.7s all ease;
    overflow: hidden;
    max-height: 40px;  
   border:1px solid lightgray;

}  


.input-field i {
    font-size: 1.1rem; 
    color: black;
    padding-left: 10px; 
    margin-right: 10px; 

}
.form input{
    width: 100%; 
    height: 100%; 
    padding-left: 5px; 
    border-radius: 10px;
  border: none; 
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; 
    outline: none; 
  
  
} 
.input-field:hover{
    border: 1px solid orange; 
     box-sizing: initial;
}  
.form p {
    font-size: 16px; 
    margin-top: -16px; 
    text-align: left;
} 
.form p a {
    text-decoration: none;
} 
.form .btn{
    height: 40px;
     width: 150px; 
    border-radius: 35px; 
    margin-top: 40px;
    cursor: pointer; 
    transition: 0.4s all ease; 

} 
.btn-field{ 
    width: 100%;
    display: flex;
    justify-content: space-between;

} 
.btn-field button{
    flex-basis: 48%;

}
 


.sec:hover{
    background-color: green; 
    border: none; 
    
} 
.input-field{
    margin-top: -25px; 
    background-color: white;
} 
.disable{
    transition: 0.7 all ease;
} 
#submit{
    width: 100%;
    height: 40px; 
    background: yellow ; 
    color: black;
    border-radius: 10px;
    border: none; 
    margin-top: 23px; 
    font-size: 1.1rem;  
    transition: 0.6s  ;
    
} 
#submit:hover{
    background: green;
}