@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Oleo+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins , Arial, Helvetica, sans-serif ;
} 
body{
    background-color: #e7e7e7;
}

.nav-bar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: black; 



} 
.logo{
    height: 60px ;
    width: 114px;  
    object-fit: cover; 
    margin-left: 4px;
    cursor: pointer;

}  
.logo:hover{
 border: 1px solid wheat;
} 

.delevery-box{ 
    margin-left: 10px;
    font-size: 0.85rem;

}
 
.delevery-box .paragraph{
    margin-left: 20px;
    color: darkgrey;
} 
.delevery-box .location{
    font-weight: 600;
  
} 
.nav-search{
    display: flex;
     height: 40px;
    margin-left: 10px;
     transition: 0.3s all ease;  
     border: none;
     border-radius: 7px;
} 
.nav-search:hover{
    border: 1px solid rgb(1, 62, 80);
}  
.nav-search select{
    width: 50px;
    border: none;
    outline: none;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px; 
    font-style: italic;
    padding-left: 2px; 
    background-color: lightgrey;
} 
.nav-search .search-box{
    width: 600px;
    padding-left: 10px;
    font-size: 0.9rem;
 
    outline: none;
    border: 1px solid lightgrey; 
} 
.nav-search .click{
    width: 50px;
    font-size: 1rem;
    background-color: orange;
    border: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    color: #0f1111;
}  
.accounts{
    margin-left: 10px;
    font-size: 0.85rem; 
} 
.accounts .acc{
    font-weight: bold;
    font-size: 0.9rem;
} 
.acc i{
    color: lightgrey;
    cursor: pointer;
}  
.one{
    margin-left: 20px;
} 
.two i{
   font-size: 20px;
}  
.un-list{
    height: 35px;
    background-color: rgba(21, 21, 48, 0.98);
    color: white;
    display: flex;
    align-items: center;
} 
.un-list ul{
     margin-left: 50px; 
    display: flex;
    align-items: center;
     list-style-type: none;
     gap: 15px; 
     font-weight: 400; 
     font-size: 0.9rem;
}  
.un-list p{
    font-size: 1.1rem;
}

.hero-section{
 height: 500px;
 width: 100%;
 background-position: center;
 background-size: cover; 
 background-repeat: no-repeat; 
 margin-bottom: 40px;

} 
.item{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    height: auto;
    
} 
.box{
    height: 350px;
    width: 270px;
    background-color: #eee;
    margin-top: 200px; 
    padding: 10px;  
    border-radius: 2px;
   
} 

 
.box a{
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: none;
} 
.box a , h2{
    margin-left: 10px;
}  
.un-list p{
    margin-left: 20px;
} 
.header-slider ul {
 display: flex;
 overflow-x: hidden; 

} 
.header-img{ 
    max-height: 100vh;
    max-width: 100%; 
     mask-image: linear-gradient(to bottom , #e7e7e7 50%, transparent 100% );  
     z-index: -999;
       
}  
.header-slider a{
    position: absolute;
    top: 20%; 
    margin-left: 10px;
    font-size: 1.2rem;
    z-index: 1;
    padding: 5vh 1vw; 
    color: #0f1111;
    text-decoration: none; 
    font-weight: 6;
    font-size: 1rem; 

} 
.arrow-next{
    right: 0%;
} 
.card-wrapper{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    justify-content: space-between; 
    height: 300px; 
    padding: 10px;
    z-index: 2;
    margin-top: -34vw;
}  
.box{  
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px ;
    width: 24%;
    height: 400px;

} 
.box4 { 
    height: 160px;
    width: 100%;
    display: flex;
    flex: 2;  
    flex-wrap: wrap;
    gap: 5px;
} 
.box4 img{
    height: 120px;
    width: 46%;
    margin-left: 3px;
    object-fit: cover;
    cursor: pointer;
} 

.comp{
    height: 290px;
} 
.card-wrapper .box h2{
  margin-left: 2px;
}  
.box a {
    color:  blue;
    margin-top: 10px;
}  
.products-slider{
    background-color: white;
    margin-bottom: 15px;
    padding: 30px;
    position: relative; 
    width: 100%;
    overflow-x: hidden;
    
} 
.products-slider .products{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 20px;
    margin-top: 10px;  


} 
.products-slider .products img{
    max-width: 200px;
    max-height: 200px;
}
.products::-webkit-scrollbar{
    display: none;
} 
.slider-backgound{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 200px;
    padding: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden; 
    margin-bottom: -3px;
} 
.fake{
    height: auto;
    margin-top: -140px; 
    margin-bottom: -180px;
}
.also{
    margin-top: -40px;
} 

.new{
    margin-top: 50px; 
    margin-bottom: -30px;
} 
 
.about{ 
    margin-top: -200px;
  
    width: 100%;
    max-width: 100%; 
    padding-top: 25px;
    padding-bottom: 10px; 
    background-color: white; 
    margin-top: -8vw;
    cursor: pointer;    
}  
.about-container{
     
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid lightgray;   
    margin-top: 10px; 
    padding: 25px;

    
}  
.about-container .sign-in{
    width: 180px;
    background-color: yellow;
    color: black; 
    border-radius: 30px;
    padding: 3px;
    border: none;  
    font-weight: 400; 
    transition: 0.5s all ease; 
    
}
 
.about-container span{
    font-size: 10px;
    margin-top: -20px;
}
.sign-in:hover{
    border: 1px solid black;
    background-color: transparent;
} 
.back-to-top{
    width: 100%;
    text-align: center;
    color: white; 
    height: 40px;

    font-size: 1.1rem;
    background-color: #37435a;
}  
html{
    scroll-behavior: smooth;
}
.back-to-top a{
    text-decoration: none;
    color: white; 
    line-height: 40px;
} 
.lists{
    height: 60vh;
    background-color: #0f1111; 
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 100px;
} 
.about-lists{
 height: 40vh; 
 color: white;
} 
.about-lists ul{
    list-style-type: none ;
    margin-bottom: 10px;
    
} 
li{
    font-size: 0.9rem;
    cursor: pointer;
} 
.about-lists h3{ 
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
} 
.about-lists ul li:hover{
 text-decoration: underline;
 
} 
.langauge-menu{
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px ;
} 
.png{
    width: 150px;
} 
.pnge{
    height: 20px;
    width: 30px;
    object-fit: cover;
    margin-top: 5px;
} 
.langauge-menu span{
    border: 1px solid white;
    padding: 6px ; 
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;  
    color: lightgrey;
}  
.langauge-menu span p{
    font-weight: 600; 
    display: inline-block;
}
.product-card i {
    color: yellow;
} 
.price{
    font-size: 0.8rem; 
    margin-top: -3px; 
    margin-bottom: 5px;
} 
.price .actual-price{
    font-size: 1.1rem; 
    margin: 3px;
} 
.shipping{
    font-size: 0.8rem;

} 

.products-slider-with-price{
    background-color: white;
    margin-top: -90px;
    margin-bottom: 105px;
    padding: 15px; 
    margin-left: 10px;
    margin-right: 10px;

} 
.products{
    display: flex;
    overflow-x: auto;
    gap: 25px;
    margin-top: 10px;
}  
.products::-webkit-scrollbar{
    display: none;
} 
.products .product-card img{
    max-height: 200px;
    max-width: 250px;
} 
.product-offer{
    font-size: 0.9rem;
}
.product-offer{
    color: #2f405f;
} 
.rating{
    color: #2f405f;
} 
.acc a{
    text-decoration: none;
    color: white;
} 

 